tmp
.history
dist
/out
/.classpath
/.project
/RUNNING_PID
/.settings
/~*

# SBT specific
logs
project/project
target
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Intellij IDEA specific
/.idea_modules
/.idea
/*.iml

# activator specific
/project/*-shim.sbt
/activator-sbt-atmos-akka-shim.sbt
/activator*
