@()(implicit request: RequestHeader)


<section class="ui  inverted green left sidebar">
    <section class="ui stacked green secondary inverted segment">

        <div class="ui orange breadcrumb">
            <i class="right arrow   icon divider"></i>
            <header class="ui section header">Aging genes ontology</header>
            <i class="right arrow icon  divider"></i>
            <header class="ui red large section header">GSEA Example</header>
        </div>
        <div class="ui orange divider"></div>
        <div class="ui secondary orange centered stacked segment">
            <image class="ui small image" src='@routes.Assets.at("images/denigma_pos.svg")'></image>
        </div>

        <nav class="ui large teal vertical menu">
            <a class="active  item">
                <i class="huge lab icon"></i> GSEA 3D Graph example
            </a>
            <div class="item">
                <section class="ui large green message">
                    This example shows visualization of gene connections between each other.
                    <br/> Many thanks to Alexey Moskalev for providing the data.
                </section>
            </div>

        </nav>

            <image class="ui transparent small image" src='@routes.Assets.at("images/aging_kills.gif")'></image>


    </section>



</section>



